#BB
{
    width: 400px;
    height: 600px;
    background-color: black;
    margin-left: 500px;
    margin-top: 35px;
    border: 2px black dashed;
    box-shadow: 5px -5px 30px blue;
}
#txtResult
{
    width: 99%;
    height: 50px;
    border: 2px blue solid;
    border: 20px 0px 0px 20px;
    background-color: black;
    color: blue;
    text-decoration-color: blue;
    text-align: right;
}
#btn
{    
    padding: 20px;
    width:70px;
    height: 50px;
    border: 1px blue solid;
    transition: ease all .5s;
    background-color: black;
    color: blue;
    text-shadow: 5px 5px 10px blue;
    border-radius: 20%;
}
#btn:hover
{
 transform: scale(1.1);
    transition: ease all .5s;
}
#btn:active
{
    transform: translate(5px,5px);
    transition: ease all .5s;
}