#domainSohal{
    margin-top: -2px;
    margin-left: 2px;
    
}

#domainMixtures{
    color:#ff5214;
}

#lblHome{
    margin-left: 30px;
}

#lblOurMachines{
    margin-left: 15px;
}

#btnLogIn{
    padding-top:2px; 
    padding-bottom: 2px;
}
#video{
    width:100%;
}
#frmImage{
     background-image: url("Photos/GG.jpg");
    width: 100%;
    
}